.light {
  background: #fff;
  color: #000;
}
.rv-body .rv-theme-light .rv-external-link {
  color: #333;
}
.rv-body .rv-theme-light .rv-secondary-link .rv-link {
  color: #000;
}
.rv-bg-light {
  background-color: #fff;
}
.rv-bg-light .richtext a,
.rv-bg-light .richtext h1,
.rv-bg-light .richtext h2,
.rv-bg-light .richtext h3,
.rv-bg-light .richtext h4,
.rv-bg-light .richtext h5,
.rv-bg-light .richtext h6,
.rv-bg-light .richtext li,
.rv-bg-light .richtext p,
.rv-bg-light .richtext span,
.rv-bg-light .richtext td,
.rv-bg-light .richtext th {
  color: #333;
}
.rv-bg-light .richtext a:hover {
  color: #7f38eb !important;
}
.rv-bg-light .richtext .rv-table > tbody > tr.active > td,
.rv-bg-light .richtext .rv-table > tbody > tr.active > th,
.rv-bg-light .richtext .rv-table > tbody > tr > td.active,
.rv-bg-light .richtext .rv-table > tbody > tr > th.active,
.rv-bg-light .richtext .rv-table > tfoot > tr.active > td,
.rv-bg-light .richtext .rv-table > tfoot > tr.active > th,
.rv-bg-light .richtext .rv-table > thead > tr.active > td,
.rv-bg-light .richtext .rv-table > thead > tr.active > th,
.rv-bg-light .richtext table > tbody > tr.active > td,
.rv-bg-light .richtext table > tbody > tr.active > th,
.rv-bg-light .richtext table > tbody > tr > td.active,
.rv-bg-light .richtext table > tbody > tr > th.active,
.rv-bg-light .richtext table > tfoot > tr.active > td,
.rv-bg-light .richtext table > tfoot > tr.active > th,
.rv-bg-light .richtext table > thead > tr.active > td,
.rv-bg-light .richtext table > thead > tr.active > th {
  background-color: #f1f1f1;
}
.rv-bg-grey {
  background-color: #fafafa;
}
.rv-bg-grey .rv-theme-light.rv-featured .rv-cornercut:before {
  border-top-color: #fafafa;
}
.rv-bg-grey .rv-theme-light.rv-editorialicons .rv-jobcardbox.no-pd {
  background-color: #fafafa;
}
.rv-bg-grey .rv-theme-light .rv-cornercut:before {
  border-top-color: #fafafa;
}
.rv-theme-light .rv-default,
.rv-theme-light .rv-h1,
.rv-theme-light .rv-h2,
.rv-theme-light .rv-h3,
.rv-theme-light .rv-h4 {
  color: #000;
}
.rv-theme-light .rv-chips .chips {
  background: hsla(0, 0%, 100%, 0.5);
}
.rv-theme-light .rv-secondary-link .rv-link {
  color: #7f38eb;
}
.rv-theme-light.content-3 .rv-sticky-text {
  color: #333;
}
.rv-theme-light.rv-header .rv-nav-menu,
.rv-theme-light.rv-header .rv-wrapper {
  background-color: #fff;
}
.rv-theme-light.rv-header
  .rv-nav-menu
  .rv-list-main-nav
  > .rv-list-item
  .rv-case-studies::-webkit-scrollbar-track,
.rv-theme-light.rv-header
  .rv-nav-menu
  .rv-list-main-nav
  > .rv-list-item
  .rv-sub-menu::-webkit-scrollbar-track {
  background: hsla(0, 0%, 100%, 0.5);
}
.rv-theme-light.rv-header
  .rv-nav-menu
  .rv-list-main-nav
  > .rv-list-item
  .rv-case-studies::-webkit-scrollbar-thumb,
.rv-theme-light.rv-header
  .rv-nav-menu
  .rv-list-main-nav
  > .rv-list-item
  .rv-sub-menu::-webkit-scrollbar-thumb {
  background: rgba(228, 74, 33, 0.5);
}
.rv-theme-light.rv-header
  .rv-nav-menu
  .rv-list-main-nav
  > .rv-list-item
  .rv-case-studies::-webkit-scrollbar-thumb:hover,
.rv-theme-light.rv-header
  .rv-nav-menu
  .rv-list-main-nav
  > .rv-list-item
  .rv-sub-menu::-webkit-scrollbar-thumb:hover {
  background: hsla(0, 0%, 100%, 0.5);
}
.rv-theme-light.rv-header .rv-link {
  color: #000;
}
.rv-theme-light.rv-casestudy .rv-bgoverlay {
  background-color: hsla(0, 0%, 100%, 0.6);
}
.rv-theme-light.rv-casestudy .rv-background picture {
  background-color: #fff;
}
.rv-theme-light.rv-casestudy .rv-heading {
  color: #333;
}
.rv-theme-light.rv-inputfields {
  background-color: #fafafa;
  color: #121212;
}
.rv-theme-light.rv-inputfields .rv-forms {
  border-color: #333;
}
.rv-theme-light.rv-inputfields .rv-forms .rv-label {
  background: #fafafa;
}
.rv-theme-light.rv-inputfields .rv-forms .rv-input,
.rv-theme-light.rv-inputfields .rv-forms .rv-textarea {
  color: #000;
}
.rv-theme-light.rv-inputfields .rv-forms.is--disabled {
  border-color: #7f817b;
}
.rv-theme-light.rv-inputfields .rv-forms.is--disabled .rv-label,
.rv-theme-light.rv-inputfields .rv-forms.is--disabled .rv-text-limit {
  color: #7f817b;
}
.rv-theme-light.rv-highlight-text-banner {
  background-color: #fff;
  color: #000;
}
.rv-theme-light.rv-editorial-info-text-bar {
  background-color: #fff;
}
.rv-theme-light.rv-editorial-info-text-bar .rv-regular,
.rv-theme-light.rv-editorial-info-text-bar .rv-title {
  color: #121212;
}
.rv-theme-light.rv-testimonial,
.rv-theme-light.rv-testimonial .rv-responder-name {
  background-color: #fff;
  color: #000;
}
.rv-theme-light.rv-testimonial .rv-blockquote,
.rv-theme-light.rv-testimonial .rv-responder-name {
  color: #333;
}
.rv-theme-light.rv-slider-container .rv-img-slide:before {
  background-color: hsla(0, 0%, 100%, 0.8);
}
.rv-theme-light.rv-editorialcontent,
.rv-theme-light.rv-editorialicons {
  color: #333;
}
.rv-theme-light.rv-editorialicons .rv-jobcardbox {
  background-color: #fff;
  box-shadow: 0 10px 20px -15px rgba(0, 0, 0, 0.1);
}
@media (min-width: 1200px) {
  .rv-theme-light.rv-editorialicons .rv-jobcardbox {
    background-color: transparent;
    box-shadow: none;
  }
  .rv-theme-light.rv-editorialicons .rv-jobcardbox:not(.nohover):hover {
    background-color: #fff;
    box-shadow: 0 10px 20px -15px rgba(0, 0, 0, 0.1);
  }
}
@media (min-width: 1024px) {
  .rv-theme-light.rv-editorialicons .rv-jobcardbox.no-pd:hover {
    background-color: transparent;
    box-shadow: none;
  }
}
.rv-theme-light.rv-editorialicons .rv-heading {
  margin-top: 0;
}
.rv-theme-light .rv-cornercut:before {
  border-top-color: #fff;
}
.rv-theme-light .rv-pagination {
  color: #000;
}
.rv-theme-light .rv-pagination .arrow {
  stroke: #000;
}
.rv-theme-light .rv-pagination .arrow use {
  fill: #fff;
}
.rv-theme-light .rv-pagination .btn-next.disabled,
.rv-theme-light .rv-pagination .btn-next:disabled,
.rv-theme-light .rv-pagination .btn-prev.disabled,
.rv-theme-light .rv-pagination .btn-prev:disabled {
  pointer-events: none;
  cursor: default;
}
.rv-theme-light .rv-pagination .btn-next.disabled .arrow,
.rv-theme-light .rv-pagination .btn-next.disabled:hover .arrow,
.rv-theme-light .rv-pagination .btn-next:disabled .arrow,
.rv-theme-light .rv-pagination .btn-next:disabled:hover .arrow,
.rv-theme-light .rv-pagination .btn-prev.disabled .arrow,
.rv-theme-light .rv-pagination .btn-prev.disabled:hover .arrow,
.rv-theme-light .rv-pagination .btn-prev:disabled .arrow,
.rv-theme-light .rv-pagination .btn-prev:disabled:hover .arrow {
  stroke: #989898;
}
.rv-theme-light.rv-content-page-header {
  color: #333;
}
.rv-theme-light.rv-contentcard .rv-card {
  color: #fff;
}
.rv-theme-light.rv-contentcard .rv-card .rv-content-down .rv-h1-heading {
  color: #121212;
}
.rv-theme-light.rv-contentcard .rv-heading-line {
  background-color: #333;
}
.rv-theme-light.rv-contentcard .rv-description {
  color: #fff;
}
.rv-theme-light.rv-featured .rv-cornercut:before {
  border-top-color: #fff;
}
.rv-theme-light.rv-footer {
  background-color: #fff;
  color: #000;
}
.rv-theme-light.rv-footer .rv-link {
  color: #000;
}
.rv-theme-light .rv-chips.fill-chips .chips {
  background-color: #f4f4f4;
  color: #333;
}
.rv-theme-light.rv-image-gallery .rv-slider-container .rv-img-slide:before {
  background-color: hsla(0, 0%, 100%, 0.8);
}
.rv-theme-light.rv-image-gallery .rv-slider-container p {
  color: #333;
}
.rv-theme-light.rv-image-gallery
  .rv-slider-container
  .rv-sliderArrow
  .slick-arrow
  svg
  path,
.rv-theme-light.rv-image-gallery
  .rv-slider-container
  .rv-sliderArrow
  .slick-arrow
  svg
  polygon,
.rv-theme-light.rv-image-gallery
  .rv-slider-container
  .rv-sliderArrow
  .slick-arrow
  svg
  use {
  fill: #333;
}
.rv-theme-light.rv-image-gallery
  .rv-slider-container
  .rv-sliderArrow
  .slick-arrow:hover
  svg
  path,
.rv-theme-light.rv-image-gallery
  .rv-slider-container
  .rv-sliderArrow
  .slick-arrow:hover
  svg
  polygon,
.rv-theme-light.rv-image-gallery
  .rv-slider-container
  .rv-sliderArrow
  .slick-arrow:hover
  svg
  use {
  fill: #7f38eb;
}
.rv-theme-light.rv-image-gallery
  .rv-slider-container
  .rv-sliderArrow
  .slick-arrow:active
  svg
  path,
.rv-theme-light.rv-image-gallery
  .rv-slider-container
  .rv-sliderArrow
  .slick-arrow:active
  svg
  polygon,
.rv-theme-light.rv-image-gallery
  .rv-slider-container
  .rv-sliderArrow
  .slick-arrow:active
  svg
  use {
  fill: #333 !important;
}
.rv-theme-light.rv-jobcards .rv-jobcards-sec .rv-description,
.rv-theme-light.rv-jobcards .rv-jobcards-sec .rv-heading {
  color: #333;
}
.rv-theme-light.rv-jobcards .rv-jobcards-sec .rv-jobcardbox {
  background-color: #fff;
  box-shadow: -10px 10px 20px -12px rgba(0, 0, 0, 0.05);
}
.rv-theme-light.rv-jobcards .rv-jobcards-sec .rv-jobcardbox .rv-title {
  color: #333;
}
@media (min-width: 1200px) {
  .rv-theme-light.rv-jobcards .rv-jobcards-sec .rv-jobcardbox {
    background-color: transparent;
    box-shadow: none;
  }
  .rv-theme-light.rv-jobcards
    .rv-jobcards-sec
    .rv-jobcardbox:not(.nohover):hover {
    background-color: #fff;
    box-shadow: -10px 10px 20px -12px rgba(0, 0, 0, 0.05);
  }
}
.rv-theme-light.rv-editorialgrid {
  color: #fff;
}
.rv-theme-light.rv-editorialgrid .rv-grid-box,
.rv-theme-light.rv-editorialgrid .rv-grid-wide {
  background-color: #121212;
  border: 1px solid #fff;
}
.rv-theme-light.rv-editorial-sponsor {
  background-color: #fff;
}
.rv-theme-light.rv-clients .rv-heading,
.rv-theme-light.rv-clients .rv-paragraph,
.rv-theme-light.rv-clients h1,
.rv-theme-light.rv-editorial-sponsor .rv-description,
.rv-theme-light.rv-editorial-sponsor .rv-title,
.rv-theme-light.rv-editorialresultsawards {
  color: #333;
}
.rv-theme-light.rv-speaker {
  background-color: #fff;
  color: #000;
}
.rv-theme-light.rv-speaker .rv-comp-title {
  color: #333;
}
.rv-theme-light.rv-speaker .rv-playbtn .rv-secondary-link .rv-link {
  color: #fff;
}
.rv-theme-light.rv-speaker .rv-secondary-link .rv-link {
  color: #333;
}
.rv-theme-light.rv-speaker .rv-cornercut:before {
  border-top-color: #fff;
  border-right-color: #fff;
}
.rv-theme-light.rv-speaker .rv-roundbtn .rv-btn-text {
  color: #fff;
}
.rv-theme-light.rv-crosssell .rv-description-box,
.rv-theme-light.rv-crosssell .rv-h1-heading {
  color: #333;
}
.rv-theme-light .rv-event-info {
  background-color: #f1f1f1;
}
.rv-theme-light .rv-event-info .rv-detail,
.rv-theme-light .rv-event-info .rv-link,
.rv-theme-light .rv-event-info .rv-title {
  color: #333;
}
.rv-theme-light .rv-event-info .rv-register-cta:before {
  color: #f1f1f1;
  border-top-color: #f1f1f1;
}
.rv-theme-light .rv-event-info.rv-cornercut:before {
  border-top-color: #fff;
}
.rv-theme-light .rv-glassdoor-widget .rv-rating .rv-star {
  background: url(/img/icons/star-full-light.svg);
}
.rv-theme-light .rv-glassdoor-widget .rv-rating .rv-star.empty {
  background: url(/img/icons/star-empty-light.svg);
}
.rv-theme-light .rv-glassdoor-widget .rv-rating .rv-star.partial {
  background: url(/img/icons/star-half-light.svg);
}
.rv-theme-light
  .dropdown-style.select2-container--default
  .select2-selection--single {
  border-color: #333;
}
.rv-theme-light
  .dropdown-style.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: #333;
}
.rv-theme-light
  .dropdown-style.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b:after,
.rv-theme-light
  .dropdown-style.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b:before {
  background-color: #333;
}
.rv-theme-light
  .dropdown-style.select2-container--open
  .select2-selection--single {
  border-color: #7f38eb;
}
.rv-theme-light
  .dropdown-style.select2-container--open
  .select2-selection--single
  .select2-selection__rendered {
  color: #7f38eb;
}
.rv-theme-light
  .dropdown-style.select2-container--open
  .select2-selection--single
  .select2-selection__arrow
  b:after,
.rv-theme-light
  .dropdown-style.select2-container--open
  .select2-selection--single
  .select2-selection__arrow
  b:before {
  background-color: #7f38eb;
}
.rv-theme-light .dropdown-style .select2-dropdown {
  background-color: #fafafa;
}
.rv-theme-light
  .dropdown-style
  .select2-dropdown
  .select2-results
  > .select2-results__options
  .select2-results__option[aria-selected="true"] {
  color: #333;
}
.rv-theme-light
  .dropdown-style
  .select2-dropdown
  .select2-results
  > .select2-results__options
  .select2-results__option.select2-results__option--highlighted[aria-selected] {
  background-color: transparent;
  color: #7f38eb;
}
.rv-theme-light .rv-roundbtn .rv-btn-text {
  color: #333;
}
.rv-theme-light
  .select-container
  .select2-container--disabled
  .select2-selection--single {
  border-color: #7f817b;
}
.rv-theme-light
  .select-container
  .select2-container--disabled
  .select2-selection--single
  .select2-selection__rendered,
.rv-theme-light
  .select-container
  .select2-container--disabled
  .select2-selection--single
  .select2-selection__rendered:after {
  color: #7f817b;
}
.rv-theme-light
  .select-container
  .select2-container--disabled
  .select2-selection--single
  .select2-selection__arrow
  b:after,
.rv-theme-light
  .select-container
  .select2-container--disabled
  .select2-selection--single
  .select2-selection__arrow
  b:before {
  background-color: #7f817b;
}
.rv-theme-light .accordion .card-header {
  border-color: #000;
}
.rv-theme-light .accordion .card-header .label {
  color: #000;
}
.rv-theme-light .accordion .card-header .btn-cross-line,
.rv-theme-light .accordion .card-header .btn-cross-line:after {
  background: #000;
}
.rv-theme-light .accordion.is--disabled .card-header {
  border-color: #7f817b;
}
.rv-theme-light .accordion.is--disabled .card-header .label {
  color: #7f817b;
}
.rv-theme-light .accordion.is--disabled .card-header .btn-cross-line,
.rv-theme-light .accordion.is--disabled .card-header .btn-cross-line:after {
  background: #7f817b;
}
.rv-theme-light .accordion .rv-acc-link {
  color: #121212;
}
.rv-theme-light.rv-sec-content .rv-description,
.rv-theme-light.rv-sec-content .rv-heading {
  color: #333;
}
.rv-theme-light.rv-casestudyfigures .rv-secondary-link .rv-link {
  color: #fff;
}
@media (-ms-high-contrast: none), screen and (-ms-high-contrast: active) {
  .rv-theme-light .rv-pagination .arrow,
  .rv-theme-light .rv-pagination .arrow svg,
  .rv-theme-light .rv-pagination .arrow use {
    fill: #fff;
  }
}
.rv-hero-banner-inner.rv-bg-light .rv-banner-pictures .rv-bgoverlay {
  background: none;
}
